#input_message
  %form{ :action => "/", :method => "put"}
    %label{:for => "message"} Message:
    %input{:type => "text", :name => "message", :class => "text"}
    %input{:type => "submit", :value => "Button", :class => "button"}
